{% extends "base.html" %}
{%block title%}Sobre mí{%endblock%}
{% block content%}

    <div class="perfil">
    {% for mi in yo%}
        <div class="perfil_img">
            <img src="{{ url_for('static', filename='uploads/' + mi.foto) }}" alt="{{mi.foto}}">
            {% if session.get('usuario') %}
                <a href="{{ url_for('editar_foto', id=mi) }}">
                    <button class="btn_editar">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                    </button>
                </a>
            {% endif %}
        </div>
        
        <div class="perfil_contenido">
            {% if session.get('usuario') %}
                <a href="{{ url_for('editar_sobremi', id=mi) }}">
                    <button class="btn_editar">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                    </button>
                </a>
            {% endif %}
            <h1>ángela romero<br>
                
                <span>{{mi.cargo}}</span></h1>
                    <p>{{mi.biografia}}</p>
            <div class="centrar_boton">
                <a href="https://api.whatsapp.com/send?phone=573043730932&amp;text= desde mi portafolio"target="_blank">
                    <button class="boton_contactar">contactar</button>
                </a>
            </div>
        </div>
    </div>
    <main class="contenedor_acerca">
        <section>
            <h2>Perfil profesional</h2>
            <p>{{mi.profesional}}
            </p>
        </section>
        <section>
            <h2>Hobbies y otros </h2>
            <p>{{mi.hobbies}}</p>
            {%endfor%}
        </section>
          
        <br>
    </main>
   
    <script src="../static/js/script.js"></script>
</body>

{%endblock%}