{% extends "base.html" %}
{%block title%}Cambiar foto{%endblock%}
{% block content%}

<body>
    <div>
        <h2>Editar imagen</h2>
            <form action="{{ url_for('editar_pro_foto', id=proyecto['id']) }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="imagen" accept="image/*" required>
                <button type="submit">Guardar cambios</button>
            </form>
            {% if imagen %}
                <h3>Imagen actual:</h3>
                    <img src="{{ url_for('static', filename='uploads/' ~ proyecto['imagen']) }}" alt="Imagen actual" width="200">
            {% endif %}
    </div>
    <script src="../static/js/script.js"></script>
</body>
{%endblock%}