{% extends "base.html" %}
{% block content%}

<body>
    <main id="titulo_habi">
        <h1 class="mis_habilidades">mis habilidades</h1>
        <div class="habilidades">
            {%for habilidad in habilidades%}
            <section class="conte_habilidad">
                {% if session.get('usuario') %}
                    <a href="{{ url_for('editar_hab', id=habilidad['id']) }}">
                        <button class="btn_editar">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                        </button>
                    </a>
                    <a href="{{ url_for('eliminar_hab', id=habilidad['id']) }}">
                        <button class="btn_editar"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></button>
                    </a>
                {% endif %}
                <div class="icono_habilidad">
                    <h2>{{habilidad.habilidad}}</h2>
                        <div class="conte_imghab">
                            {% if session.get('usuario') %}
                            <a href="{{ url_for('editar_hab_foto', id=habilidad['id']) }}">
                                <button class="btn_editar">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                </button>
                            </a>
                            {% endif %}
                            <img id="foto_hab" src="{{ url_for('static', filename='uploads/' + habilidad.icono) }}" alt="{{habilidad.icono}}">
                        </div>
                </div>
                    <div>
                        <p>{{habilidad.descripcion}} </p>
                    </div>
            </section>
            {%endfor%}
        </div>
    </main>
    <script src="../static/js/script.js"></script>
</body>
{%endblock%}