<div class="fondo_footer">
    <footer id="footer" class="centrado">
        <div>
            <p>Suscríbete y mantente actualizado con mi página</p>
        </div>
        <div>
            <form method="POST" action="{{ url_for('form_wp') }}" class="mayusculas">
                <div class="contenedor_formindex">
                    <div id="caja_email">
                        <input class="formulario_index" type="text" name="nombre" placeholder="Nombre">
                    </div>
                    <div id="caja_email">
                        <input class="formulario_index" type="email" name="correo" placeholder="Correo">
                    </div>
                    <div>
                        <button class="boton_footer">Suscribirse</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <p>Todos los derechos reservados - Ángela Romero &copy 2025</p>
        </div>
            
    </footer>
</div>
<script src="../../static/js/whatsapp.js"></script>